modules = ["web", "python-3.12"]
run = "start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 44423350
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000 --bind 0.0.0.0"
